<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="/" class="b-brand">
            <div class="">
                <img src="{{ url_for('static', filename='assets/images/logo-fpt.png') }}"
                     style="width: 50px; height: 35px"
                     alt="Logo FPT">
            </div>
            <span class="b-title">Dashboard</span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
</header>
<!-- [ Header ] end -->
